<div class="page-header">
  <%= link_to new_heading_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Heading
  <% end %>
  <h1>Listing headings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Heading name</th>
            <th>Facet</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @headings) do |heading| %>
            <td><%= heading.heading_name %></td>
            <td><%= heading.facet_id %></td>
            <td><%= link_to 'Show', heading %></td>
        <td><%= link_to 'Edit', edit_heading_path(heading) %></td>
        <td><%= link_to 'Destroy', heading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
