<%= form_for @surrogate do |f| %>
  <% if @surrogate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surrogate.errors.count, "error") %> prohibited this surrogate from being saved:</h2>

      <ul>
      <% @surrogate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Formulaire d'ajout de tags -->

  <h6>Add some tags (separated by commas) :</h6>
  <div class="actions">
    <%= f.text_field :tag_list, :value => " ", :size => 30 %>
    <%= f.submit "+", class: "btn btn-success btn-xs"%>
  </div>
  
<!-- Affichage de la classification -->

<% if !@surrogate.headings.blank? %>
This ressource is classified in :
<div class="row" style="margin-top: 10px; margin-left: 0px">
  <% if !@surrogate.headings.first.nil? %>
  <div class="col-sm-2" style="border-left: 1px solid #ccc">
    <h4><b><%= Facet.joins(:facet_leafs).where("#{@surrogate.headings.first.facet_leaf_id} = facet_leafs.id").first.facet_name %></b></h4>
    <h6><%= @surrogate.headings.first.heading_name %></h6>
  </div>
  <% end %>
  <% if !@surrogate.headings.second.nil? %>
  <div class="col-sm-2" style="border-left: 1px solid #ccc">
    <h4><b><%= Facet.joins(:facet_leafs).where("#{@surrogate.headings.second.facet_leaf_id} = facet_leafs.id").first.facet_name %></b></h4>
    <h6><%= @surrogate.headings.second.heading_name %></h6>
  </div>
  <% end %>
  <% if !@surrogate.headings.third.nil? %>
  <div class="col-sm-2" style="border-left: 1px solid #ccc">
    <h4><b><%= Facet.joins(:facet_leafs).where("#{@surrogate.headings.third.facet_leaf_id} = facet_leafs.id").first.facet_name %></b></h4>
    <h6><%= @surrogate.headings.third.heading_name %></h6>
  </div>
  <% end %>
</div>

<!-- Formulaire de classification par facette -->

<% else %>
  <h6>Add this article to some facets :</h6>
  <div class="actions row">
    <div class="col-sm-4">
    <%= select_tag :issue, options_from_collection_for_select(FacetLeaf.first.headings, "id", "heading_name"), :prompt => "ISSUE", :class => "form-control" %>
    </div>
    <div class="col-sm-4">
    <%= select_tag :technique, options_from_collection_for_select(FacetLeaf.second.headings, "id", "heading_name"), :prompt => "TECHNIQUE", :class => "form-control" %>
    </div>
    <div class="col-sm-4">
    <%= select_tag :process, options_from_collection_for_select(FacetLeaf.third.headings, "id", "heading_name"), :prompt => "PROCESS", :class => "form-control" %>
    </div>
  </div>
    <%= submit_tag "Validate", :class => "btn btn-success" %>
<% end %>
<% end %>

