<%= form_for(@surrogate)  do |f| %>
  <% if @surrogate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surrogate.errors.count, "error") %> prohibited this surrogate from being saved:</h2>

      <ul>
      <% @surrogate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :tag_list, :value => " ", :size => 30 %>
    <%= f.submit "+", class: "btn btn-success btn-xs"%>
  </div>
<% end %>
