<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "Import BibTeX file", new_import_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Resource type</th>
      <th>Resource key</th>
      <th>Doi</th>
      <th>Details</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @surrogates.each do |srg| %>
      <tr>
        <td><%= srg.entry_type %></td>
        <td><%= srg.entry_key %></td>
        <td><%= srg.doi %></td>
        <td><%= link_to "Details", "#", class: "btn btn-info" %>
        <td><%= link_to "View Resource", srg.url, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
