<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= render 'layouts/default_navbar' %>
<br />

<div class="row">
  <p class="col-sm-9"><%= link_to "Back", surrogates_path, class: "btn btn-primary", style: "color: #fff" %></p>
  <p class="col-sm-1" align="right">
    <%= if @surrogate.url != nil
          link_to "View Resource", @surrogate.url, class: "btn btn-success", style: "color: #fff"
	end
    %>
  </p>
  <p class="col-sm-2" align="right"><%= link_to "Export as .bib", "#", class: "btn btn-info", style: "color: #fff" %></p>
</div>

<h2 align="center" style="margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
  <%= @surrogate.surrogate_elements.where(field_name: "title").first.se_values.first.value %>
</h2>
<br />

<%= render 'content' %>

<br />
<p>
  <b>tags : </b>
  <% @surrogate.tags.any? %>
  <% @surrogate.tags.each do |t| %>
  <%= link_to t.name, tagged_url(:tag => t.name) %>
  <% end %>
</p>
<br />
<h6>Add some tags (separated by commas) :</h6>
<%= render 'form' %>
<br />
