<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= render 'layouts/default_navbar' %>
<br />

<div class="row">
  <div class="col-sm-8"><%= link_to "Back", surrogates_path, class: "btn btn-primary", style: "color: #fff" %></div>
  <div class="col-sm-1" align="right">
    <%= if @surrogate.url != nil
          link_to "View Resource", @surrogate.url, class: "btn btn-success", style: "color: #fff"
	end
    %>
  </div>
  <!-- to fix (responsive) -->
  <div class="col-sm-1"></div>
  <!-- -->
  <div class="col-sm-2" align="right"><%= link_to "Test Export", csv_url(format: "csv"), class: "btn btn-info", style: "color: #fff" %></div>
</div>

<h2 align="center" style="margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
  <%= @surrogate.surrogate_elements.where(field_name: "title").first.se_values.first.value %>
</h2>
<br />

<%= render 'content' %>

<br />
<p>
  <b>tags : </b>
  <% @surrogate.tags.any? %>
  <% @surrogate.tags.each do |t| %>
 <kbd><%= link_to t.name, tagged_url(:tag => t.name), style: "color: #ccc" %><%=" (#{t.taggings_count})"%></kbd>
  <% end %>
</p>
<br />
<%= render 'form' %>
