<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= render 'layouts/default_navbar' %>
<br />

<!-- Ligne de boutons BACK - SHOW - EXPORT -->

<div class="row">
  <div class="col-sm-10"><%= link_to "Back", surrogates_path, class: "btn btn-primary", style: "color: #fff" %></div>
  <div class="col-sm-2" align="right">
    <div class="btn-group" role="group">
      <% if @surrogate.url != nil %>
        <%= link_to "Show", @surrogate.url, class: "btn btn-success", style: "color: #fff" %>
      <% end %>
      <%= link_to "Export", {:controller => "surrogates", :action => "bib", :surrogate => @surrogate }, :class => "btn btn-info", style: "color: #fff" %>
    </div>
  </div>
</div>

<!-- Affichage du titre de la resource comme en-tête -->

<h2 align="center" style="margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
  <%= @surrogate.surrogate_elements.where(field_name: "title").first.se_values.first.value %>
</h2>
<br />

<!-- Si la ressource possède un résumé, on divise la page en deux.
La première partie pour les informations complémentaires, l'autre pour le résumé
-->

<% if !@surrogate.surrogate_elements.where(field_name: "abstract").first.nil? %>
<div class="row">
<div class="col-sm-6">
<% end %>

<!-- Appel à la vue contenant les différents champs à afficher -->
<%= render 'content' %>

<!-- Affichage du résumé s'il existe -->

<% if !@surrogate.surrogate_elements.where(field_name: "abstract").first.nil? %>
</div>
<div class="well col-sm-6">
<h4 align="left"><b>Abstract</b></h4>
<%= @surrogate.surrogate_elements.where(field_name: "abstract").first.se_values.first.value %>
</div>
</div>
<% end %>
<br />

<!-- Affichage des tags -->

<p>
  <b>tags : </b>
  <% @surrogate.tags.any? %>
  <% @surrogate.tags.each do |t| %>
 <kbd><%= link_to "#{t.name}"+" (#{t.taggings_count})", tagged_url(:tag => t.name), style: "color: #ccc" %></kbd>
  <% end %>
</p>
<br />

<!-- Appel à la vue concernant le formulaire de classification par facette -->

<%= render 'form' %>
