<%= render 'layouts/default_navbar' %>
<% if !@import.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @import, html: { multipart: true } do |f| %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Import", class: "btn btn-primary" %>
  <% end %>
</div>
